<!DOCTYPE html>
<html>
<head>
	<title>Twitter Reloaded</title>
	<link rel="stylesheet" href= "{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='tweet.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='header.css') }}">
</head>
<body>

	<div class="top-bar">
		<div class = username>
			<span>bienvenido a Twitter Reloaded {{Usr}}</span>
		</div>
		<div class="button">
      		<form method="post" action="{{ url_for('create_tweet') }}">
				<button  class ="abutton" type="submit">Nuevo Tweet</button>
			</form>
		</div>

	</div>


	<div class="tweet-container">
		{% for row in data %}
		<div class="tweet">
			<div class="tweet-header">
				<h1 class="item">{{ row[2]}}</h1>
			</div>
			<div class="tweet-content">
				<p class="tweet-text">{{ row[1] }}</p>
				<div class="tweet-details">
					<p class ="left">{{ row[0] }}</p>
					<p class ="right">{{ row[3] }}</p>
				</div>
			</div>
			<a href="{{ url_for('details', tweet_id=row[4]) }}">Reply</a>
		</div>
		{% endfor %}
	</div>

</body>
</html>
