<!DOCTYPE html>
<html>
<head>
	<title>Twitter Reloaded</title>
	<link rel="stylesheet" href= "{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='tweet.css') }}">
	<div class="top-bar">
		<h1>bienvenido a Twitter Reloaded</h1>
		<form method="post" action="{{ url_for('create_tweet') }}">
			<button  class ="abutton" type="submit">Nuevo Tweet</button>
		</form>
	</div>
</head>
<body>

		<div class="tweet-container">
        	{% for tweet in tweets %}
        	<div class="tweet" onclick="openModal('{{ tweet.username }}', '{{ tweet.content }}', '{{ tweet.timestamp }}')">
				<div class="tweet-header">
				 	<p class="item">{{ tweet.username }}</p>
				</div>
				<div class="tweet-content">
					<p class="tweet-text">{{ tweet.content }}</p>
				</div>
            	<div class="tweet-details">
				  <p class="tweet-time">{{ tweet.timestamp }}</p>
				</div>
			</div>
        	{% endfor %}
		</div>


		<!-- Modal -->
	<div id="tweetModal" class="modal">
	  <div class="modal-content">
		<span class="close" onclick="closeModal()">&times;</span>
		<h2 id="modal-username"></h2>
		<p id="modal-content"></p>
		<p id="modal-timestamp"></p>
	  </div>
	</div>
</body>
</html>
