<!DOCTYPE html>
<html>
<head>
	<title>Twitter Reloaded</title>
	<link rel="stylesheet" href= "{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='tweet.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='header.css') }}">
</head>
<body>

	<div class="top-bar">
		<div class = username>
			<span>bienvenido a Twitter Reloaded {{Usr}}</span>
		</div>
		<div class="button">
			<form method="post" action="{{ url_for('events') }}">
				<button  class ="abutton" type="submit">Events</button>
			</form>
      		<form method="post" action="{{ url_for('create_tweet') }}">
				<button  class ="abutton" type="submit">Nuevo Tweet</button>
			</form>
		</div>

	</div>


	<div class="tweet-container">
		{% for row in data %}
		<div class="Tweet-box">
			<div class="tweet">
				<div class="tweet-header">
					<h1 class="item">{{ row.author}}</h1>
				</div>
				<div class="tweet-content">
					<p class="tweet-text">{{ row.text }}</p>
					<div class="tweet-details">
						<p class ="left">{{ row.timestamp }}</p>
						<p class ="right">{{ row.hour}}</p>
					</div>
				</div>
				<a href="{{ url_for('details', tweet_id=row.id) }}">Reply</a>
			</div>
			<div class="Reply-container">
				{% for reply in row.comments %}
				<div class="reply">
					<div class="reply-header">
						<h1 class="item">{{ reply[2]}}</h1>
					</div>
					<div class="reply-content">
						<p class="reply-text">{{ reply[1] }}</p>
						<div class="reply-details">
							<p class ="left">{{ reply[0] }}</p>
							<p class ="right">{{ reply[3] }}</p>
						</div>
					</div>
			</div>
				{% endfor %}
			</div>
		</div>

		{% endfor %}
	</div>

</body>
</html>
