<!DOCTYPE html>
<html>
<head>
	<title>Twitter Reloaded</title>
	<link rel="stylesheet" href= "{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="container">
		<div class="box">
			<h1>Twitter Reloaded</h1>
			<!-- login debe the convertirse en login check -->
			<form method="post" action="{{ url_for('login_check') }}">
				<input type="text" name="username" placeholder="Usuario" required>
  				<input type="password" name="password" placeholder="contraseña" required>
				<button  class ="abutton" type="submit">Log In</button>
			</form>

		</div>
	</div>
</body>
</html>
