<!DOCTYPE html>
<html>
<head>
	<title>Twitter Reloaded</title>
	<link rel="stylesheet" href= "{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='header.css') }}">
</head>
<body>
	<div class="top-bar">
		<div class = username>
			<span>{{Usr}}</span>
		</div>
	</div>
	<div class="container">
		<div class="box">
			<form action="/submit" method="POST">
				<label for="tweet_text" id ="charCount" >Tweet Text:</label>
				<textarea name="tweet_text" id="tweet_text" rows="4" cols="50" maxlength="300" oninput="checkCharacterCount()"></textarea><br><br>
				<input type="submit" value="Create Tweet">
    		</form>
		</div>
	</div>
 <script>
    function checkCharacterCount() {
      var input = document.getElementById("tweet_text");
      var count = input.value.length;

      if (count > 300) {
        input.value = input.value.substr(0, 300); // Truncate the text to 300 characters
        count = 300;
      }

      // Display the character count
      document.getElementById("charCount").textContent = count;
    }
  </script>
</body>
</html>


